page-e-catalogue {


.buttonClass
{
  
   background:-webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(212,137,23,1) 50%, rgba(207,124,0,1) 51%, rgba(233,212,179,1) 100%);
  // background-image: url("../assets/images/bg_3d2.jpg");
 // background: transparent;
    color: #1D1D1D;
    font-size: 17px;
    font-family: 'Palatino Linotype';
    
}
.bg
{

 
 background-size: 100%,100%;
  width: 100%;
}

}
